<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!-- Load client-side JavaScript files -->
    <script type="text/javascript" src="/javascripts/pageParts.js"></script>
    <title>Algebra Intelligence | Home</title>
</head>
<body>
<!-- Wrapper -->
<div class="wrapper">
    <div class="logo-area">
    </div>
    <div class="menuBar">
    </div>
    <div class="main">
        <div class="main-home">
            <h1> Algebra Intelligence</h1>
            <a class="btn btn-default" href="quiz">Start a Quiz Now!</a>
        </div>
    </div>
    <!-- Footer -->
    <div class="footer">
    </div>
</div>

<!-- Footer -->
<div class="footer">
</div>

<!-- Logo Area, Menu, and Footer from Javascript -->
<script type="text/javascript">
    loadAll(<%- login %>);
</script>
</body>
</html>
