<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel = "stylesheet" type = "text/css" href="/stylesheets/style.css">
  <!-- Load Javascript Files -->
  <!--<script type="text/javascript" src="../js_src/cookies.js"></script>
  <script type="text/javascript" src="../js_src/pageParts.js"></script>
  <script type="text/javascript" src="../js_src/grader.js"></script>
  <script type="text/javascript" src ="../js_src/displayQuizResults.js"></script>
  <script type="text/javascript" src="../js_src/jsonToQuiz.js"></script> -->
  <script type="text/javascript" src="/javascripts/pageParts.js"></script>
  <title>Algebra Intelligence | Quiz</title>
</head>
<body>
<!-- Check if user is logged in before anything else -->
<!-- Redirect to login page if they need to log in. -->

<!-- Wrapper -->
<div class="wrapper">
  <div class="logo-area">
  </div>
  <div class="menuBar">
  </div>
  <div class="main-quiz-results">
    <div id = "quiz-results">
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer">
</div>

<!-- Logo Area, Menu, and Footer from Javascript -->
<script type="text/javascript">
  loadAll(true);
  /*document.getElementById("quiz-results").innerHTML += displayQuizResults();*/
</script>
</body>
</html>

