<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!-- Load client-side JavaScript files -->
    <script type="text/javascript" src="/javascripts/pageParts.js"></script>
    <title>Algebra Intelligence | Quiz</title>
</head>
<body>
<!-- Wrapper -->
<div class="wrapper">
    <div class="logo-area">
    </div>
    <div class="menuBar">
    </div>
    <div class="main">
        <div class="main-quiz">
            <div id="quiz">
                <%- quizHTML %>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="footer">
    </div>
</div>

<!-- Logo Area, Menu, and Footer from Javascript -->
<script type="text/javascript">
    loadAll(true);
</script>
</body>
</html>