<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!-- Load client-side JavaScript files -->
    <script type="text/javascript" src="/javascripts/pageParts.js"></script>
    <title>Algebra Intelligence | Sign Up</title>
</head>
<body>
<!-- Wrapper -->
<div class="wrapper">
    <div class="logo-area">
    </div>
    <div class="menuBar">
    </div>
    <div class="main">
        <div class="main-signup">
            <h3>Sign Up Now!</h3>

            <form action="/signup" method="post">
                <p>Your Username: <input type="text" name="user" value=""/></p>
                <span class="invalid_action"> <%= msg %> </span>

                <p>Your Password: <input type="password" name="pass" value=""/></p>

                <p><input type="submit"/></p>
            </form>
        </div>
    </div>
    <!-- Footer -->
    <div class="footer">
    </div>
</div>

<!-- Logo Area, Menu, and Footer from Javascript -->
<script type="text/javascript">
    loadAll(false);
</script>
</body>
</html>